environment: "dev" # dev/prod
domain: "localhost" # eg: site.test
auth_uri_path: "" # optional, needed for refresh token cookie uri path, eg: "/auth"
bind_ip: "127.0.0.1"
bind_port: "8080"
token_lifetime: "900s"
refresh_token_lifetime: "5184000s"
log_level: "debug"
log_outputPaths: [ "stdout", "logs/general.log" ]
