db_host: "localhost"
db_port: "5432"
db_username: "postgres"
db_password: ""
database: "project_db"
users_table: "users"
login_column: "login"
password_column: "password" #password type must be bcrypt